body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-size: 45px;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 15px 0;
}

header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

img {
    height: 100%;
    width: auto;
}

header div {
    width: 20%;
    height: 100%;
}


header menu {
    display: flex;
    list-style: none;
}

header menu li {
    padding: 20px;
}

header menu li a {
    position: relative;
}

header menu li a::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: black;
    transform-origin: bottom right;
    transition: transform .3s ease;
}

header menu li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header .mobile {
    display: none;
}

header .mobile i {
    font-size: 30px
}

header .mobile input {
    position: absolute;
    width: 25px;
    height: 25px;
    opacity: 0;
}

header .mobile menu {
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    transition: all 0.5s linear;
}

header .mobile input:checked ~ menu {
    display: block;
    background-color: #000000;
    padding: 0;
}

header .mobile input:checked ~ menu a {
    color: #ffffff;
}

footer {
    padding: 10px;
}

footer div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

footer > div > div > a {
    height: 100%;
}

footer img {
    height: 100%;
    width: auto;
}

footer menu {
    display: flex;
    list-style: none;
    padding: 0;
}

footer menu li {
    padding: 20px;
}

footer menu li a {
    position: relative;
}

footer menu li a::before {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .3s ease;    
}

footer menu li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer form input[type="text"] {
    padding: 15px;
    width: 210px;
}

footer form input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
}

footer h6 {
    text-align: center;
}

#home {
    padding: 10px;
}

.slider {
    height: 75vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
 }
 
.slider-nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid #ccc;  /*Outline does not affects the space around it, instead it will just overlap the element instead of pushing it*/
    outline-offset: -6px;
    cursor: pointer;
    appearance: none;
    backface-visibility: hidden;
}

.slider-nav:checked {
    animation: check 0.4s linear forwards;
}

.slider-nav:checked:nth-of-type(1) ~.slider-inner {
    left: 0%;
}

.slider-nav:checked:nth-of-type(2) ~.slider-inner {
    left: -100%;
}
.slider-nav:checked:nth-of-type(3) ~.slider-inner {
    left: -200%;
}

.slider-nav:checked:nth-of-type(4) ~.slider-inner {
    left: -300%;
}

.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    transition: left 0.4s;
}

.slider-contents:nth-child(1){
    background: linear-gradient(#00000080, #00000080) ,url(../img/berserkBackground.jpg);
    background-size: cover;
    background-position: center;
}

.slider-contents:nth-child(2) {
    background: linear-gradient(#00000080, #00000080) ,url(../img/onePieceBackground.jpg);
    background-size: cover;
    background-position: center;
}

.slider-contents:nth-child(3) {
    background: linear-gradient(#00000080, #00000080) ,url(../img/attackOnTitanBackground.jpg);
    background-size: cover;
    background-position: center;
}

.slider-contents:nth-child(4) {
    background: linear-gradient(#00000080, #00000080) ,url(../img/bleachBackground.jpg);
    background-size: cover;
    background-position: center;
}

.slider-contents {
    height: 100%;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.slider-contents h2 {
    color: white;
    letter-spacing: .05em;
}

.slider-image {
    width: auto;
    height:50%;
    border-radius: 5px;
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 0 rgba(51, 51, 51, 2) ;
    }
    
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 2);
    }
}

#home section:nth-child(2) a, #shop section:nth-child(2) a {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    transition: .3s ease;
}

#home section:nth-child(2) a:hover, #shop section:nth-child(2) a:hover {
    outline: 3px solid black;
    background-color: white;
    color: black;
    transition: .3s ease;
}

#home section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

#home section:nth-child(2) img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#home section:nth-child(2) > div {
    width: 32.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home section:nth-child(2) h5 {
    font-size: 22px;
}

#home section:nth-child(3) {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

#home section:nth-child(3) p {
    text-align: center;
    width: 75%;
}

#home section:nth-child(4) {
    display: flex;
    padding: 50px 0;
}

#home section:nth-child(4) a {
    flex: 1;
}

#home section:nth-child(4) a:nth-child(1) {
    border-right: 2px solid black;
}

#home section:nth-child(4) a:nth-child(2) {
    border-right: 2px solid black;
}

#home section:nth-child(4) a:nth-child(3) {
    border-right: 2px solid black;
}

#home section:nth-child(4) a:nth-child(4) {
    border-right: 2px solid black;
}

#home section:nth-child(4) a img {
    width: 100%;
}


#shop {
    padding: 0 10px;
}

#shop section:first-child {
    height: 25vh;
    color: white;
    letter-spacing: .6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#00000080, #00000080) ,url(../img/shopBackground.jpg);
    background-size: cover;
    background-position: center;
}

#shop section:nth-child(2) {
    padding: 50px 0;
    display: flex;
    padding-left: 6em;
}

#shop section:nth-child(2) > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#shop section:nth-child(2) > div h5 {
    font-size: 20px;
}

#shop section:nth-child(2) > div img {
    width: 100%;
    height: auto;
}

#shop section:nth-child(2) > div > div {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop section:nth-child(3) {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

#shop section:nth-child(3) p {
    text-align: center;
    width: 75%;
}

#about {
    padding: 0 10px;
}

#about section:first-child {
    height: 25vh;
    letter-spacing: .6em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#00000080, #00000080), url(../img/aboutBackground.png);
    background-size: cover;
    background-position: center;
}

#about section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

#about section:nth-child(2) img {
    width: 100%;
    height: auto;
}

#about section:nth-child(2) > div {
    width: 47%;
}

#about section:nth-child(3) {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 50px 25px;
}

#about section:nth-child(3) h2 {
    font-size: 55px;
}

#about section:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

#about section:nth-child(4) img {
    width: 100%;
    height: auto;
}

#about section:nth-child(4) > div {
    width: 47%;
}

#about section:nth-child(4) div:first-child {
    padding-left: 40px;
}

#contact {
    padding: 0 10px;
}

#contact section:first-child {
    height: 25vh;
    color: #ffffff;
    letter-spacing: .6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#00000080, #00000080), url(../img/contactBackground.jpg);
    background-size: cover;
    background-position: center;
}
#contact section:nth-child(2) {
    display: flex;
    padding: 50px 0;
}

#contact section:nth-child(2) h2 {
    text-align: center;
    font-size: 40px;
}

#contact section:nth-child(2) input {
    width: -webkit-fill-available;
    height: 45px;
}

#contact section:nth-child(2) input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#contact section:nth-child(2) input[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}

#contact section:nth-child(2) > div:first-child {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    padding: 40px;
}

#contact section:nth-child(2) > div:first-child form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#contact section:nth-child(2) > div:first-child form > div > div {
    width: 45%;
}

#contact section:nth-child(2) > div:first-child form > div:nth-child(3) {
    flex-direction: column;
}

#contact section:nth-child(2) > div:last-child {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eeeeee;
    padding: 40px;
}

#contact section:nth-child(2) > div:last-child h3 {
    font-size: 30px;
}

#contact section:nth-child(2) > div:last-child i {
    padding-right: 10px;
}

#contact section:nth-child(2) > div:last-child hr {
    width: 100%;
}

#contact section:nth-child(2) > div:last-child > div {
    padding: 20px;
}

#contact section:nth-child(2) > div:last-child > div > div {
    padding-left: 20px;
}

#product {
    padding: 0 10px;
}

#product section:first-child {
    display: flex;
    padding: 50px 0;
}

#product section:first-child img {
    width: 100%;
    height: auto;
}

#product section:first-child i {  
    padding-right: 30px;
    font-size: 30px;
}

#product section:first-child > div {
    width: 50%;
}

#product section:first-child > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

#product section:first-child form {  
    display: flex;
    justify-content: space-between;
}

#product section:first-child form input[type="number"] {  
    font-size: 35px;
    width: 20%;
    text-align: center;
}

#product section:first-child form input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {  
   opacity: 1;
}

#product section:first-child form input[type="submit"] {  
    width: 70%;
    background-color: #000000;
    color: #ffffff;
    font-size: 28px;
    transition: .3s ease;
}

#product section:first-child form input[type="submit"]:hover {
    background-color: white;
    color: black;
    outline: 2px solid black;
    transition: .3s ease;
}

#product section:last-child {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin: 50px 0;
}

#product section:last-child p {
    text-align: center;
    width: 75%;
}

@media screen and (max-width: 768px) {
    #shop section:nth-child(2) > div:last-child > div {
        width: 28%;
    }

    #about section:nth-child(4) > div {
        width: 45%;
    }

    #contact section:nth-child(3) > div:last-child > div > div {
        padding-left: 10px;
    }

    #product section:first-child img {
        position: sticky;
        top: 10px;
    }
}
 
@media screen and (max-width: 425px) {
    header .mobile {
        display: block;
    }

    header .desktop {
        display: none;
    }

    footer div:first-child {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    footer img {
        width: 50%;
    }

    #shop section:nth-child(2) {
        flex-direction: column;
        gap: 30px;
    }

    #shop section:nth-child(2) > div:first-child, #shop section:nth-child(2) > div:last-child {
        width: 100%;
    }

    #about section:nth-child(2) {
        flex-direction: column;
    }

    #about section:nth-child(2) > div {
        width: 90%;
    }

    #about section:nth-child(4) {
        flex-direction: column-reverse;
    }

    #about section:nth-child(4) > div {
        width: 90%;
    }

    #about section:nth-child(4) div:first-child {
        padding-left: 0;
    }

    #contact section:nth-child(3) {
        flex-direction: column;
    }

    #contact section:nth-child(3) > div:first-child, #contact section:nth-child(3) > div:last-child {
        width: auto;
    }

    #product section:first-child {
        flex-direction: column;
    }

    #product section:first-child > div {
        width: auto;
    }

    #product section:first-child > div:last-child {
        padding: 20px;
    }
}